<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="SmallSharpTools.Logging" type="SmallSharpTools.Logging.LoggingProviderConfigurationHandler, SmallSharpTools.Logger"/>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<authentication mode="Forms"/>
		<httpModules>
			<add name="LoggingModule" type="SmallSharpTools.Logging.LoggingModule"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System"/>
				<add namespace="SmallSharpTools.Messenger.Web.UI.Controls"/>
			</namespaces>
			<controls>
				<add tagPrefix="sstm" namespace="SmallSharpTools.Messenger.Web.UI.Controls" assembly="SmallSharpTools.Messenger"/>
			</controls>
		</pages>
	</system.web>
	<SmallSharpTools.Logging defaultProvider="Log4NetLoggingProvider">
		<providers>
			<clear/>
			<add name="Log4NetLoggingProvider" configureAndWatch="true" type="SmallSharpTools.Logging.Log4NetLoggingProvider, SmallSharpTools.Logger"/>
			<add name="EventsLoggingProvider" eventSource="MessengerWebsite" debugEnabled="true" infoEnabled="true" type="SmallSharpTools.Logging.EventsLoggingProvider, SmallSharpTools.Logger"/>
		</providers>
	</SmallSharpTools.Logging>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
