<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms"/>
		<pages>
			<namespaces>
				<add namespace="System"/>
				<add namespace="SmallSharpTools.EmbeddedScripts.Controls"/>
			</namespaces>
			<controls>
				<add tagPrefix="sst" namespace="SmallSharpTools.EmbeddedScripts.Controls" assembly="SmallSharpTools.EmbeddedScripts"/>
			</controls>
		</pages>
	</system.web>
</configuration>
