<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="servicesProvider"
             type="SmallSharpTools.Services.Provider.ServicesSection, SmallSharpTools.Services"/>
  </configSections>
  <system.serviceModel>
    <services>

      <service behaviorConfiguration="ServicesManagerBehavior" name="SmallSharpTools.Services.Manager.ServicesManager">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ServicesManagerHTTP"
          name="ServicesManager" contract="SmallSharpTools.Services.Manager.IServicesManager" />
      </service>

      <service behaviorConfiguration="GenericServiceBehavior" name="SmallSharpTools.Services.Generic.GenericService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="GenericServiceHTTP"
          name="GenericService" contract="SmallSharpTools.Services.Generic.IGenericService" />
      </service>
      
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="ServicesManagerHTTP" />
        <binding name="GenericServiceHTTP" />
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServicesManagerBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
        <behavior name="GenericServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ServicesManagerBehavior">
        </behavior>
        <behavior name="GenericServiceBehavior">
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <!-- Custom Provider -->
  <servicesProvider defaultProvider="ServicesManager">
    <providers>
      <add name="ServicesManager"
           description="Services Manager"
           isManager="true"
           autoStart="true"
           serviceUri="http://localhost:8080/ServicesManager"
           type="SmallSharpTools.Services.Manager.ServicesManagerProvider, SmallSharpTools.Services"/>
      <add name="GenericService"
           description="Generic Services Provider"
           autoStart="false"
           serviceUri="http://localhost:8001/GenericService"
           type="SmallSharpTools.Services.Generic.GenericServicesProvider, SmallSharpTools.Services.Generic"/>
    </providers>
  </servicesProvider>
</configuration>
