<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="servicesProvider"
             type="SmallSharpTools.Services.Provider.ServicesSection, SmallSharpTools.Services"/>
  </configSections>

  <appSettings/>

  <connectionStrings/>

  <system.web>

    <compilation debug="true">
      <assemblies>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IdentityModel.Selectors, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>

    <authentication mode="Windows"/>
  </system.web>

  <system.serviceModel>
    <client>
      <endpoint
          name="ServicesManager"
          address="http://localhost:8080/ServicesManager"
          binding="wsHttpBinding"
          bindingConfiguration="ServicesManager"
          behaviorConfiguration="ServicesManagerBehavior"
          contract="SmallSharpTools.Services.ServicesManagerClient.IServicesManager">
      </endpoint>
    </client>
    
    <services>
      <service behaviorConfiguration="ServicesManagerBehavior" name="SmallSharpTools.Services.Manager.ServicesManager">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ServicesManagerHTTP"
          name="ServicesManager" contract="SmallSharpTools.Services.Manager.IServicesManager" />
      </service>
      <service behaviorConfiguration="GenericServiceBehavior" name="SmallSharpTools.Services.Generic.GenericService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="GenericServiceHTTP"
          name="GenericService" contract="SmallSharpTools.Services.Generic.IGenericService" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="ServicesManager">
          <security mode="Message"/>
        </binding>
        <binding name="ServicesManagerHTTP" />
        <binding name="GenericServiceHTTP" />
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServicesManagerBehavior">
          <callbackTimeouts transactionTimeout="00:00:02"/>
          <callbackDebug includeExceptionDetailInFaults="True"/>
        </behavior>
        <behavior name="GenericServiceBehavior">
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServicesManagerBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
        <behavior name="GenericServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <!-- Custom Provider -->
  <servicesProvider defaultProvider="ServicesManager">
    <providers>
      <add name="ServicesManager"
           description="Services Manager"
           isManager="true" 
           autoStart="true"
           serviceUri="http://localhost:8080/ServicesManager"
           type="SmallSharpTools.Services.Manager.ServicesManagerProvider, SmallSharpTools.Services"/>
      <add name="GenericService"
           description="Generic Services Provider"
           autoStart="false"
           serviceUri="http://localhost:8001/GenericService"
           type="SmallSharpTools.Services.Generic.GenericServicesProvider, SmallSharpTools.Services.Generic"/>
    </providers>
  </servicesProvider>
</configuration>