<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="SmallSharpTools.Logging" type="SmallSharpTools.Logging.LoggingProviderConfigurationHandler, SmallSharpTools.Logger" />
  </configSections>

  <appSettings/>
  <connectionStrings/>
  
  <system.web>
    <compilation debug="true" />
    <authentication mode="Forms" />
    <httpModules>
      <add name="LoggingModule" type="SmallSharpTools.Logging.LoggingModule" />
    </httpModules>
  </system.web>

  <SmallSharpTools.Logging defaultProvider="Log4NetLoggingProvider">
    <providers>
      <clear/>
      <add name="Log4NetLoggingProvider"
           configureAndWatch="true"
           type="SmallSharpTools.Logging.Log4NetLoggingProvider, SmallSharpTools.Logger"/>
      <add name="EventsLoggingProvider"
           eventSource="LoggingWebsite"
           debugEnabled="true"
           infoEnabled="true"
           type="SmallSharpTools.Logging.EventsLoggingProvider, SmallSharpTools.Logger"/>
    </providers>
  </SmallSharpTools.Logging>

</configuration>
