<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>

  <unity>
    <typeAliases>
      <!-- System Types -->
      <typeAlias
        alias="string"
        type="System.String, mscorlib" />
      <typeAlias
        alias="singleton"
        type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

      <!-- Logger -->
      <typeAlias
        alias="ILogger"
        type="SmallSharpTools.Pipes.Model.ILogger, SmallSharpTools.Pipes" />
      <typeAlias
        alias="NullLogger"
        type="SmallSharpTools.Pipes.Logger.NullLogger, SmallSharpTools.Pipes.Logger" />
      <typeAlias
        alias="ConsoleLogger"
        type="SmallSharpTools.Pipes.Logger.ConsoleLogger, SmallSharpTools.Pipes.Logger" />

      <!-- Twitter -->
      <typeAlias
        alias="ITwitterRepository"
        type="SmallSharpTools.Pipes.Twitter.ITwitterRepository, SmallSharpTools.Pipes" />
      <typeAlias
        alias="TwitterRepository"
        type="SmallSharpTools.Pipes.Twitter.TwitterRepository, SmallSharpTools.Pipes.Twitter" />
    </typeAliases>

    <containers>
      <container>
        <types>
          <!-- Use ConsoleLogger for ILogger -->
          <type type="ILogger" mapTo="ConsoleLogger"/>
          <type type="ITwitterRepository" mapTo="TwitterRepository"/>
          <type type="TwitterRepository">
            <typeConfig>
              <property name="Logger" propertyType="ILogger"/>
            </typeConfig>
          </type>
        </types>
      </container>
    </containers>
  </unity>
  
</configuration>