<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint 
          name="ServicesManager"
          address="http://localhost:8080/ServicesManager"
          binding="wsHttpBinding"
          bindingConfiguration="ServicesManager" 
          behaviorConfiguration="ServicesManagerBehavior"
          contract="SmallSharpTools.Services.ServicesManagerClient.IServicesManager">
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="ServicesManager">
          <security mode="Message">
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServicesManagerBehavior">
          <callbackTimeouts transactionTimeout="00:00:02"/>
          <callbackDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </endpointBehaviors>      
    </behaviors>
  </system.serviceModel>
</configuration>