<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="SmallSharpTools.Logging" type="SmallSharpTools.Logging.LoggingProviderConfigurationHandler, SmallSharpTools.Logger" />
  </configSections>

  <SmallSharpTools.Logging defaultProvider="Log4NetLoggingProvider">
    <providers>
      <clear/>
      <add name="Log4NetLoggingProvider"
           configureAndWatch="true"
           type="SmallSharpTools.Logging.Log4NetLoggingProvider, SmallSharpTools.Logger"/>
      <add name="EventsLoggingProvider"
           eventSource="LoggingWebsite"
           debugEnabled="true"
           infoEnabled="true"
           type="SmallSharpTools.Logging.EventsLoggingProvider, SmallSharpTools.Logger"/>
    </providers>
  </SmallSharpTools.Logging>
  
</configuration>