<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="SmallSharpTools.YahooPack.Authentication" type="SmallSharpTools.YahooPack.Providers.YahooAuthenticationProviderConfigurationHandler, SmallSharpTools.YahooPack" />
    <section name="SmallSharpTools.YahooPack.Photos" type="SmallSharpTools.YahooPack.Providers.YahooPhotosProviderConfigurationHandler, SmallSharpTools.YahooPack" />
    <section name="SmallSharpTools.Logging" type="SmallSharpTools.Logging.LoggingProviderConfigurationHandler, SmallSharpTools.Logger" />
  </configSections>
  
	<appSettings>
		<add key="YahooApplicationID" value="cfEwn0jIkY3GKKz3c8FYgkmLg.vL0I3emNNryw--"/>
		<add key="YahooSharedSecret" value="1918b742626d01b7cad9062df0975d6b"/>
		<add key="YahooApplicationEntryPoint" value="http://yahoo.smallsharptools.com/"/>
	</appSettings>
  
	<connectionStrings/>
  
	<system.web>
    <customErrors mode="Off"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <anonymousIdentification enabled="true"/>

    <roleManager enabled="false"></roleManager>

    <httpModules>
      <add name="YahooModule" type="SmallSharpTools.YahooPack.Web.Security.YahooModule" />
    </httpModules>
		<pages>
			<namespaces>
				<add namespace="System"/>
				<add namespace="SmallSharpTools.YahooPack.Web.UI.Controls"/>
			</namespaces>
			<controls>
				<add tagPrefix="sst" namespace="SmallSharpTools.YahooPack.Web.UI.Controls" assembly="SmallSharpTools.YahooPack"/>
			</controls>
		</pages>
	</system.web>

  <SmallSharpTools.YahooPack.Authentication defaultProvider="XmlYahooAuthenticationProvider">
    <providers>
      <clear/>
      <add name="XmlYahooAuthenticationProvider"
           type="SmallSharpTools.YahooPack.Providers.XmlYahooAuthenticationProvider, SmallSharpTools.YahooPack"/>
    </providers>
  </SmallSharpTools.YahooPack.Authentication>

  <SmallSharpTools.YahooPack.Photos defaultProvider="XmlYahooPhotosProvider">
    <providers>
      <clear/>
      <add name="XmlYahooPhotosProvider"
           type="SmallSharpTools.YahooPack.Providers.XmlYahooPhotosProvider, SmallSharpTools.YahooPack"/>
    </providers>
  </SmallSharpTools.YahooPack.Photos>

  <SmallSharpTools.Logging defaultProvider="Log4NetLoggingProvider">
    <providers>
      <clear/>
      <add name="Log4NetLoggingProvider"
           configureAndWatch="true"
           type="SmallSharpTools.Logging.Log4NetLoggingProvider, SmallSharpTools.Logger"/>
      <add name="EventsLoggingProvider"
           eventSource="YahooWebsite"
           debugEnabled="true"
           infoEnabled="true"
           type="SmallSharpTools.Logging.EventsLoggingProvider, SmallSharpTools.Logger"/>
    </providers>
  </SmallSharpTools.Logging>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>



</configuration>
