<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="SmallSharpTools.Logging" type="SmallSharpTools.Logging.LoggingProviderConfigurationHandler, SmallSharpTools.Logger" />
    <section name="SmallSharpTools.UrlMapping" type="SmallSharpTools.UrlMapping.UrlMappingProviderConfigurationHandler, SmallSharpTools.UrlMapper" />
  </configSections>

  <appSettings/>
  <connectionStrings/>
  
  <system.web>
    <compilation debug="true" />
    <authentication mode="Forms" />
    <httpModules>
      <add name="LoggingModule" type="SmallSharpTools.Logging.LoggingModule" />
      <add name="UrlMapperModule" type="SmallSharpTools.UrlMapping.UrlMapperModule" />
    </httpModules>
  </system.web>

  <SmallSharpTools.Logging defaultProvider="Log4NetLoggingProvider">
    <providers>
      <clear/>
      <add name="Log4NetLoggingProvider"
           configureAndWatch="true"
           type="SmallSharpTools.Logging.Log4NetLoggingProvider, SmallSharpTools.Logger"/>
      <add name="EventsLoggingProvider"
           eventSource="UrlMappingWebsite"
           debugEnabled="true"
           infoEnabled="true"
           type="SmallSharpTools.Logging.EventsLoggingProvider, SmallSharpTools.Logger"/>
    </providers>
  </SmallSharpTools.Logging>

  <SmallSharpTools.UrlMapping defaultProvider="StaticUrlMappingProvider">
    <providers>
      <clear/>
      <add name="StaticUrlMappingProvider"
           virtualPath="~/categories"
           mappedPath="~/Virtual.aspx" 
           loggingEnabled="true" 
           type="SmallSharpTools.UrlMapping.StaticUrlMappingProvider, SmallSharpTools.UrlMapper"/>
    </providers>
  </SmallSharpTools.UrlMapping>

</configuration>
