<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="SmallSharpTools.Logging" type="SmallSharpTools.Logging.LoggingProviderConfigurationHandler, SmallSharpTools.Logger" />
  </configSections>
  
  <appSettings>
    <add key="AdminUserName" value="admin"/>
    <add key="AdminUserPassword" value="admin"/>
  </appSettings>
  
  <connectionStrings>
    <add name="EventsBannerDB" connectionString="Data Source=(local); Database=EventsBanner; Integrated Security=true;"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true">
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Default.aspx" name=".ASPXFORMSAUTH"></forms>
    </authentication>

    <roleManager defaultProvider="AspNetRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="AspNetRoleProvider"
            applicationName="sst"
            connectionStringName="EventsBannerDB"
            type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>

    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider"
            applicationName="sst"
            connectionStringName="EventsBannerDB"
            enablePasswordRetrieval="false"
            enablePasswordReset="true"
            requiresUniqueEmail="true"
            passwordFormat="Clear"
            passwordStrengthRegularExpression=""
            minRequiredPasswordLength="1"
            minRequiredNonalphanumericCharacters="0"
            type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>

  </system.web>
  
  <SmallSharpTools.Logging defaultProvider="EventsLoggingProvider">
    <providers>
      <clear/>
      <add name="Log4NetLoggingProvider"
           configureAndWatch="true"
           type="SmallSharpTools.Logging.Log4NetLoggingProvider, SmallSharpTools.Logger"/>
      <add name="EventsLoggingProvider"
           eventSource="LoggingWebsite"
           debugEnabled="true"
           infoEnabled="true"
           type="SmallSharpTools.Logging.EventsLoggingProvider, SmallSharpTools.Logger"/>
    </providers>
  </SmallSharpTools.Logging>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
